* {box-sizing: border-box}

body {
    background-color:#BA94D1;
}

#regForm {
    border:1px solid #ccc;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:white;
}

.hcheck {
    margin:0;
}

.pCheck {
    margin-top:0.5%;
    margin-bottom:0.5%;
}

input[type=checkbox] {
    margin-bottom: 10px;
}

input[type=text],input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

button {
    background-color: #1C7947;
    color: white;
    padding: 14px 20px;
    margin: 8px 3px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

div.languageDiv {
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.labelChange {
    font-weight:bold;
}

.languageButton {
    width:5%;
    padding:0;
    margin:0;
    margin-left:1%;
}

.backmainbtn {
    padding: 14px 20px;
    background-color: #EB1D36;
}

.backmainbtn, .signupbtn {
    width: 48%;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: flex;
    justify-content: space-around;
}

#message {
    display:none;
    color: black;
    position: relative;
}

#message p {
    padding: 2px 35px;
    font-size: 18px;
    margin: 0px;
}

.h3Tx {
    margin:0px;
    margin-bottom:4px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✓";
}

.invalid {
    color: red;
    font-weight:bold;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}