<html>

    <head>
        <title>Меню адміністратора</title>
        <meta charset="UTF-8"/>
        <link href="./StyleAdmin/AdminMenu.css" rel="stylesheet"/>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    </head>
    <body>
        <form action="auto"  id="adminForm" method="POST">
            <div class="container">
                <h1>Реєстрація</h1>

            </div>
        </form>

    </body>
</html>
