* {box-sizing: border-box}

body {
    background-color:#BA94D1;
}

.recoveryForm {
    border:1px solid #ccc;
   position: fixed; top: 50%; left: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     background-color:white;
}

input[type=checkbox] {
    margin-bottom: 2%;
}

input[type=text],input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.inputDiv {
    margin-bottom:0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: flex;
}

div.languageDiv {
    display:flex;
    width:100%;
    justify-content: flex-end;
}

.labelChange {
    font-weight:bold;
}

.languageButton {
    width:5%;
    padding:0;
    margin:0;
    margin-left:1%;
}

.confirmButton {
    background-color: #7c4caf;
    margin-left:4%;
}

.autoButton,.confirmButton {
    width:45%;
}

.container {
    padding: 16px;
}


#messagePassword {
    display:none;
    color: black;
    position: relative;
}

#messagePassword p {
    padding: 2px 20px;
    font-size: 17px;
    margin: 0px;
    margin-bottom:5px;
}

#message {
    display:none;
    color: black;
    position: relative;
}

#message p {
    padding: 2px 35px;
    font-size: 18px;
    margin: 0px;
}

.h3Tx {
    margin:0px;
    margin-bottom:4px;
    margin-top:10px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✓";
}

.validPassword {
    color: green;
}

.validPassword:before {
    position: relative;
    left: -15px;
    content: "✓";
}

.invalidPassword {
    color: red;
    font-weight:bold;
}

.invalidPassword:before {
    position: relative;
    left: -15px;
    content: "✖";
}

.invalid {
    color: red;
    font-weight:bold;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
