* {box-sizing: border-box}

body {
    background-color:#BA94D1;
}

#guestForm {
    border:1px solid #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background-color:white;
}

#sortDiv {
    margin-left:5px;
}

div.wrapper {
    width:28.8%;
    border: 1px solid #f1f1f1;
    background-color:#6ECCAF;
    margin-bottom:0.5%;
    margin-left:0.2%;
}

.h6Add {
    margin:0px;
    text-align:center;
    margin-bottom:0.5%;
    margin-top:0.5%;
}

.selectSort {
    width: 40%;
    border: none;
    background: #f1f1f1;
    margin: 0 auto;
    display: block;
}


.sortButtonServlet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color:#1C7947;
}


button {
    background-color: #8D72E1;
    color: white;
    padding: 8px 20px;
    margin: 8px 3px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

div.languageDiv {
    display:flex;
    width:99%;
    justify-content: flex-end;
    margin-top:1%;
}

.languageButton {
    width:3%;
    padding:0;
    margin:0;
    margin-left:1%;
}
.buttonAuto {
    margin-left:0.3%;
    width:30%;
}

.autoButton {
    background-color:#EB1D36;
}

.updateButton, .sortButton,.autoButton {
    width: 30%;
}

table {
    border-spacing: 0;
    width: 99%;
    margin-left:0.5%;
    font-size: 14px;
    text-align: center;
}

th, td:first-child {
    background: #7c4caf;
    color: white;
    padding: 16px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #BDF2D5;
}

th:first-child, td:first-child {
    text-align: left;
}

.text {
    text-align:center;
    margin-top:0;
}
