<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee" version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>autorized</servlet-name>
    <servlet-class>app.servlets.AuthorizationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>autorized</servlet-name>
    <url-pattern>/auto</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>registration</servlet-name>
    <servlet-class>app.servlets.RegistrationServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>registration</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>guest</servlet-name>
    <servlet-class>app.servlets.GuestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>guest</servlet-name>
    <url-pattern>/guest</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>adminmain</servlet-name>
    <servlet-class>app.servlets.admin.firstPage.AdminExhibitionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminmain</servlet-name>
    <url-pattern>/adminmain</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>AdminSecondPage</servlet-name>
    <servlet-class>app.servlets.admin.secondPage.AdminHallServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminSecondPage</servlet-name>
    <url-pattern>/adminhall</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminThirdPage</servlet-name>
    <servlet-class>app.servlets.admin.thirdPage.AdminAddressServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminThirdPage</servlet-name>
    <url-pattern>/adminaddress</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminFouthPage</servlet-name>
    <servlet-class>app.servlets.admin.fourthPage.AdminFourthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminFouthPage</servlet-name>
    <url-pattern>/adminauthor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminFifthPage</servlet-name>
    <servlet-class>app.servlets.admin.fifthPage.AdminFifthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminFifthPage</servlet-name>
    <url-pattern>/adminart</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminSixthPage</servlet-name>
    <servlet-class>app.servlets.admin.sixthPage.AdminSixthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminSixthPage</servlet-name>
    <url-pattern>/adminview</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminSeventhPage</servlet-name>
    <servlet-class>app.servlets.admin.seventhPage.AdminSeventhServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminSeventhPage</servlet-name>
    <url-pattern>/userautorized</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserMenu</servlet-name>
    <servlet-class>app.servlets.user.firstPage.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserMenu</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserExhibitionMenu</servlet-name>
    <servlet-class>app.servlets.user.secondPage.UserExhibitionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserExhibitionMenu</servlet-name>
    <url-pattern>/userexhibition</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminStatisticsExhibition</servlet-name>
    <servlet-class>app.servlets.admin.eighthPage.AdminEighthServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminStatisticsExhibition</servlet-name>
    <url-pattern>/adminstatistics</url-pattern>
  </servlet-mapping>



  <taglib>
    <taglib-uri>AmountTag</taglib-uri>
    <taglib-location>/WEB-INF/settingsTags.tld</taglib-location>
  </taglib>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>app.filter.FilterEncoding</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
