<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee" version="2.5">

  <display-name>Archetype Created Web Application</display-name>

  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>autorized</servlet-name>
    <servlet-class>app.controllerFront.controller.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>autorized</servlet-name>
    <url-pattern>/exhibition</url-pattern>
  </servlet-mapping>


  <listener>
    <listener-class>app.controllerFront.listners.SessionListener</listener-class>
  </listener>


  <taglib>
    <taglib-uri>virguleTag</taglib-uri>
    <taglib-location>/WEB-INF/tlds/customTag.tld</taglib-location>
  </taglib>


  <filter>
    <filter-name>filterSession</filter-name>
    <filter-class>app.controllerFront.filters.FilterSession</filter-class>
    <init-param>
      <param-name>active</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>filterSession</filter-name>
    <url-pattern>/exhibition</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>filterPagination</filter-name>
    <filter-class>app.controllerFront.filters.FilterPagination</filter-class>
    <init-param>
      <param-name>active</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>filterPagination</filter-name>
    <url-pattern>/exhibition</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>filterLanguage</filter-name>
    <filter-class>app.controllerFront.filters.FilterLanguage</filter-class>
    <init-param>
      <param-name>active</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>filterLanguage</filter-name>
    <url-pattern>/exhibition</url-pattern>
  </filter-mapping>


  <filter>
    <filter-name>filterEncoding</filter-name>
    <filter-class>app.controllerFront.filters.FilterEncoding</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>filterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
